  <div class="search-result">
    <div class="search-list">
      <a href="#" class="added-electronics-in-market">
        <img src="./image/tablet.webp" class="picture-added-electronics" />
        <h3>Tablet Apple iPad Air 16GB</h3>
        <span>Price: $92</span>
      </a>
    </div>