<section class="search">
  <h1>Search</h1>

  <form class="search-form" action="#" method="">
    <input
      type="text"
      class="search-name"
      name=""
      placeholder="Search Name..."
    />
    <input
      type="text"
      class="search-type"
      name=""
      placeholder="Search Type..."
    />
    <button type="submit" class="btn-search">Search</button>
  </form>

  <!--If there are matches after search-->
  {{!-- Iterate found electronics here --}}

  </div>
  <!--If there are no matches-->
  <!-- <div class="no-match">
                <p>No match was found!</p>
            </div> -->
</section>