<h1>
    <a href="/Home/English">English</a>
    <a href="/Home/Bulgarian">Bulgarian</a>
</h1>

@if (Context.Request.Cookies.ContainsKey("Language") &&
     Context.Request.Cookies["Language"] == "bg")
{
    <h2>Страницата е на български.</h2>
}
else
{
    <h2>Web page is in english.</h2>
}
